/* About.css */
.about {
    padding: 4rem 2rem;
    left:0;
    background-color: #fff;
    top: 0;
    gap:2rem;
    text-align: left;
    margin:2rem;

  }
  
  
  
  .about-content { 
    display: flex;
    flex-direction: column;
  }
  
  .about-text {
    width:100%;
    max-width: 1400px;
    font-size: 60px;
    font-weight: 400;
    font-family: Roboto;
  }
  
  .about-details {
    padding-top:5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left:50%;
    font-size: 1.1rem;
    line-height: 1.5;
    max-width: 80%;
    margin-bottom: 20px;
  }
  
  .learn-more {
    color: #000;
    text-decoration: none;
    font-weight: 600;
  }